body {
    background-color: #F1F1F1 !important;
    font-family: 'Roboto', sans-serif;
    color: #333333 !important;
    min-height: 100vh;
    padding-top: 0px;
}

main {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

nav {
    background-color: #F1F1F1;
    box-shadow: #333333 0px 0px 10px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
nav .active {
    color: #0049A8 !important;
}

footer {
    background-color: #333;
    color: #F1F1F1;
    position: absolute;
    width: 100%;
}

footer .container-fluid {
    background-color: #0049A8;
    margin: 0;
    padding: 20px 0;
}

footer .container-fluid h6 {
    margin: 0;
}

footer .low-row {
    padding: 10px 0;
}

.footer-logo-escuela {
    max-width: 150px;
    margin-left: 10px;
}

footer a {
    font-weight: bold;
    line-height: 1.6;
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
    opacity: 0.8;
}

footer a:hover {
    opacity: 1;
}

footer .item-social {
    padding: 0;
    margin: 0;
}

footer .item-social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    /*border-radius:50%;*/
    box-shadow: 0 0 0 2px #F1F1F1;
    margin: 0 0 0 8px;
    color: #F1F1F1;
    opacity: 0.8;
}

footer .item-social > a:hover {
    opacity: 1;
}

footer .quick-links {
    padding-top: 15px;
}

footer .footer-copy {
    padding-top: 15px;
    font-size: 0.8rem;
    opacity: .8;
}

section {
    padding: 50px 0;
}

section h2 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}

section h2 span {
    color: #0049A8;
}

section p {
    font-size: 1rem;
}

#info-school, #taekwondo-info {
    padding-bottom: 0;
}

#training-programs, #training-programs-about {
    background-color: #0049A8;
    color: #F1F1F1;
}

#training-programs h2, #training-programs-about h2 {
    color: #F1F1F1;
    margin-bottom: 50px;
}

#training-programs img, #training-programs-about img {
    width: 80%;
    max-width: 300px;
    border: #F1F1F1 solid 3px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#training-programs h6, #training-programs-about h5 {
    font-weight: 700;
    text-transform: uppercase;
}

#training-programs h6, #training-programs-about h6 {
    font-size: 1rem;
    margin-top: 0;
}

#training-programs-about h5 {
    margin-top: 20px;
}

#call-to-action {
    background-color: #0049A8;
    color: #F1F1F1;
}

#call-to-action h2 {
    margin-bottom: 10px;
}

#call-to-action a {
    color: #F1F1F1;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
    border: #F1F1F1 solid 4px;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
}

#call-to-action a:hover {
    color: #0049A8;
    background-color: #F1F1F1;
}

#faq .accordion-item {
    border-radius: 0;
}

#faq .accordion-button {
    background-color: #0049A8;
    color: #F1F1F1;
    font-size: 1.2rem;
    box-shadow: none;
    border-radius: 0;
}

#faq .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#info-school-page img {
    border: #0049A8 4px solid;
    box-shadow: #333333 0px 0px 10px;
}

#asociaciones-logos {
    padding-top: 0;
}

#instructors .card {
    color: #333333;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding-top: 30px;
}

#instructors .card .card-body {
    padding: 20px 0;
}

#instructors .card .card-body .card-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0;
    color: #0049A8;
}

#instructors .card .card-body .card-text {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: #333333;
}

#instructors .card img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}

#page-header {
    color: #F1F1F1;
    background-color: #0049A8;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    padding-top: 120px;
    padding-bottom: 50px;
}

#page-header h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}


.skew-cc {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    background: linear-gradient(to right bottom, #0049A8 49%, #f1f1f1 50%), linear-gradient(-50deg, #ffffff 16px, #000 0);
}

.skew-c {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    background: linear-gradient(to left bottom, #f1f1f1 49%, #0049A8 50%);
}

#material-didactico .nav-item {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

#material-didactico .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #F1F1F1;
    color: #333333;
}
#material-didactico .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0049A8 !important;
    background-color: #0049A8;
    border-color: transparent transparent #F1F1F1;
    border-bottom: 4px solid #0049A8 !important;
}

#material-didactico .tab-content {
    padding-top: 50px;
}
#material-didactico .tab-content a {
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    #page-header {
        padding-top: 130px;
        padding-bottom: 0;
    }
    #info-school {
        padding-top: 100px;
    }
    #info-arts, #asociaciones-logos, #hapkido-info {
        padding-bottom: 100px;
    }
    #training-programs, #faq, #training-programs-about, #instructors {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #info-school-page, #taekwondo-info, #material-didactico  {
        padding-top: 150px;
    }
    #taekwondo-info h2, #hapkido-info h2 {
        margin-top: 10px;
    }

}



.border-red {
    border: 2px solid red;
}
.border-green {
    border: 2px solid green;
}
.border-blue {
    border: 2px solid blue;
}
.border-yellow {
    border: 2px solid yellow;
}